*{
    margin: 0;
    padding: 0;
}
/*html*/
html{
    scroll-behavior: smooth;
}
/*parte del body*/
body{
    background-color:#191919;
}
/*parte del header*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: sticky;
    top: 0;
    padding: 15px;
}
    nav a{
        padding: 30px;
        justify-content: center;
        color: aliceblue;
        font-family: 'Quicksand', sans-serif;
        text-decoration: none;
        transition: all 500ms ease-in-out;
    }
    a:hover{
        opacity: 40%;
       transition: all 500ms ease-in-out;
    }
    hr{
        margin-top: 20px;
        margin-left: 36%;
        margin-right: 36%;
        text-align: center;
        justify-content: center;
    }
/*scrollbar*/
::-webkit-Scrollbar {
    background-color: aliceblue;
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #191919;
}
/*parte del inicio introduccion texto he imagen principal etc.. incluye tot el contenido que se encuentraaa en introduccion*/
#introduction{
    text-align: center;
    display: flexbox;
    justify-content: center;
    align-items: center;
}
    h1{
        font-family: 'Quicksand', sans-serif;
        font-size: 30px;
        color: aliceblue;
        margin-left: 25px;
        margin-bottom: 20px;
        align-items: center;
    }
    p{
        font-family: 'Quicksand', sans-serif;
        font-size: 19px;
        color: aliceblue;
        margin-left: 25px;
        margin-top: 10px;
        align-items: center;
    }
.text{
    margin-top: 55px;
}

/*parte del footer*/
footer{
    margin-top: 425px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
}

/*ADAPTACION DISPOSITVOS */ /*TELEFONES MOVILES */
@media only screen and (max-width: 700px) {
    img  {width: 60%;
    margin-top: 5%;}
}
@media only screen and (max-width: 600px) {
    nav a{
        padding: 5px;
        justify-content: center;
        color: aliceblue;
        font-family: 'Quicksand', sans-serif;
        text-decoration: none;
        transition: all 500ms ease-in-out;
    }
    @media only screen and (max-width: 600px) {
        nav a{
            padding: 2px;
            justify-content: center;
            color: aliceblue;
            font-family: 'Quicksand', sans-serif;
            text-decoration: none;
            transition: all 500ms ease-in-out;
        }

    }
}